@tailwind base;
@tailwind components;

.courses {
  background: radial-gradient(closest-side at 50% 50%, #A77BFF 0%, #543E80 100%) 0% 0% no-repeat padding-box;
}

.about-us-card {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.course-card {
  min-height: 35vh;
}

.course-card:hover {
  background-color: #ECE3FF;
}

.ft-overlay {
  position: relative;
}

.ft-overlay:after {
  @apply absolute bg-black h-full w-full top-0 left-0 opacity-75;
  content:"";
}

.pri-btn {
  @apply rounded-full py-3 px-8 shadow-md text-white bg-custom-primary;
}

.pri-btn:hover {
  @apply opacity-75;
}

@tailwind utilities;